<section class="grid grid-3col">
    {{#each system.skillsets as |skillset key|}}
        <div>
            <h3>{{key}}</h3>
            <div>
                <span>{{skillset.value}}</span>
                <span>||</span>
                <span>{{system.skillsets.actions.eureka}}</span>
            </div>
        </div>
    {{/each}}
</section>