<section class="grid grid-3col">
    {{jsonStringify system}}
    {{#each system.skillSets as |skillset key|}}
        <div>
            <h3>{{key}}</h3>
            <div>
                <span>{{skillset.value}}</span>
                <span>{{skillset.eureka.value}}</span>
            </div>
        </div>
    {{/each}}
</section>